:root {
    --color--primary: rgb(255,211,2);
    --color--secundary: rgb(219,62,81);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.img {
    height: 100vh;
}

.img-logo {
    width: 50vw;
    height: 50vh;
}

.imagenes {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
}

.login {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.caja1 {
    background-color: var(--color--primary);
    height: 150px;
    width: 250px;
    border-radius: 20px;
    padding: 0px 15px;
}

.form-item {
    margin-top: 10px;
}

.input {
    border-style: none;
    height: 25px;
    width: 100%;
    border-radius: 15px;
}

.boton {
    background-color: var(--color--secundary);
    width: 250px;
    height: 35px;
    border-radius: 15px;
    border-style: none;
    margin: 20px 0;
}

.botones-p {
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: white;
}

@media (max-width: 576px) {
    .imagenes {
        display: none;
    }

    .img-logo {
        width: 420px;
        margin-top: 30px;
    }

    .form {
        margin-left: 110px;
    }

   
}



